<!--

Install:
  -ng new ShoppingAndRecipeApp --no-strict
  -npm install --save bootstrap@3
  -add "node_modules/bootstrap/dist/css/bootstrap.min.css" in styles[...] in angular.js
Planning the App

*Components:
  -Root
  -Header

  -Shopping List > Shopping List + Shopping List Edit
  -Recipe Book > Recipe List + Recipe Item + Recipe Detail

*Model:
  -Ingredient
  -Recipe
-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
