<!--Nesting Components-->
<app-server> </app-server>
<app-server> </app-server>
<app-server> </app-server>

<label>Server Name</label>
<!--1.Input via event-->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!--2.Two way binding via directives-->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<!--3.Input via Local Reference in template-->

<!--Property binding []-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>

<!--Directives are Instructions in DOM-->
<!--ngIf: Structured Directive (start with *, use to change DOM itself)-->
<p *ngIf="serverCreated; else noServer">Server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>There is no server name</p>
</ng-template>

<!-- <app-server *ngFor="let server of serverList"></app-server> -->
<!--get index from ngFor-->
<div *ngFor="let server of serverList; let i = index">
  <p>Index {{ i }} : {{ server }}</p>
</div>
